.movie-row {
    height: 30vh;
    /* height: 300px; */
    gap: 1rem;
    padding: 30px; 
    display: flex;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
}

.movie-row:focus {
    outline: none;
}

.movie-row::-webkit-scrollbar {
    display: none;
}