.movie-row {
    height: 33.3vh;
    gap: 1rem;
    padding: 30px; 
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.movie-row:focus {
    outline: none;
}

.movie-row::-webkit-scrollbar {
    display: none;
}